In [2]:
# Import dependencies
import pandas as pd
import numpy as np
# Load the dataset in a dataframe object and include only four features as mentioned
url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
df = pd.read_csv(url)
include = ['Age', 'Sex', 'Embarked', 'Survived'] # Only four features
df_ = df[include]
df_

      Age     Sex Embarked  Survived
0    22.0    male        S         0
1    38.0  female        C         1
2    26.0  female        S         1
3    35.0  female        S         1
4    35.0    male        S         0
5     NaN    male        Q         0
6    54.0    male        S         0
7     2.0    male        S         0
8    27.0  female        S         1
9    14.0  female        C         1
10    4.0  female        S         1
11   58.0  female        S         1
12   20.0    male        S         0
13   39.0    male        S         0
14   14.0  female        S         0
15   55.0  female        S         1
16    2.0    male        Q         0
17    NaN    male        S         1
18   31.0  female        S         0
19    NaN  female        C         1
20   35.0    male        S         0
21   34.0    male        S         1
22   15.0  female        Q         1
23   28.0    male        S         1
24    8.0  female        S         0
25   38.0  female        S         1
26    NaN    male        C         0
27   19.0    male        S         0
28    NaN  female        Q         1
29    NaN    male        S         0
..    ...     ...      ...       ...
861  21.0    male        S         0
862  48.0  female        S         1
863   NaN  female        S         0
864  24.0    male        S         0
865  42.0  female        S         1
866  27.0  female        C         1
867  31.0    male        S         0
868   NaN    male        S         0
869   4.0    male        S         1
870  26.0    male        S         0
871  47.0  female        S         1
872  33.0    male        S         0
873  47.0    male        S         0
874  28.0  female        C         1
875  15.0  female        C         1
876  20.0    male        S         0
877  19.0    male        S         0
878   NaN    male        S         0
879  56.0  female        C         1
880  25.0  female        S         1
881  33.0    male        S         0
882  22.0  female        S         0
883  28.0    male        S         0
884  25.0    male        S         0
885  39.0  female        Q         0
886  27.0    male        S         0
887  19.0  female        S         1
888   NaN  female        S         0
889  26.0    male        C         1
890  32.0    male        Q         0

[891 rows x 4 columns]

In [6]:
categoricals = []
for col, col_type in df_.dtypes.iteritems():
     print(col,col_type)
     if col_type == 'O':
          categoricals.append(col)
     else:
          df_[col].fillna(0, inplace=True)

Age float64
Sex object
Embarked object
Survived int64

In [4]:
categoricals

['Sex', 'Embarked']

In [7]:
df_

      Age     Sex Embarked  Survived
0    22.0    male        S         0
1    38.0  female        C         1
2    26.0  female        S         1
3    35.0  female        S         1
4    35.0    male        S         0
5     0.0    male        Q         0
6    54.0    male        S         0
7     2.0    male        S         0
8    27.0  female        S         1
9    14.0  female        C         1
10    4.0  female        S         1
11   58.0  female        S         1
12   20.0    male        S         0
13   39.0    male        S         0
14   14.0  female        S         0
15   55.0  female        S         1
16    2.0    male        Q         0
17    0.0    male        S         1
18   31.0  female        S         0
19    0.0  female        C         1
20   35.0    male        S         0
21   34.0    male        S         1
22   15.0  female        Q         1
23   28.0    male        S         1
24    8.0  female        S         0
25   38.0  female        S         1
26    0.0    male        C         0
27   19.0    male        S         0
28    0.0  female        Q         1
29    0.0    male        S         0
..    ...     ...      ...       ...
861  21.0    male        S         0
862  48.0  female        S         1
863   0.0  female        S         0
864  24.0    male        S         0
865  42.0  female        S         1
866  27.0  female        C         1
867  31.0    male        S         0
868   0.0    male        S         0
869   4.0    male        S         1
870  26.0    male        S         0
871  47.0  female        S         1
872  33.0    male        S         0
873  47.0    male        S         0
874  28.0  female        C         1
875  15.0  female        C         1
876  20.0    male        S         0
877  19.0    male        S         0
878   0.0    male        S         0
879  56.0  female        C         1
880  25.0  female        S         1
881  33.0    male        S         0
882  22.0  female        S         0
883  28.0    male        S         0
884  25.0    male        S         0
885  39.0  female        Q         0
886  27.0    male        S         0
887  19.0  female        S         1
888   0.0  female        S         0
889  26.0    male        C         1
890  32.0    male        Q         0

[891 rows x 4 columns]

In [8]:
df_ohe = pd.get_dummies(df_, columns=categoricals, dummy_na=True)
df_ohe

,Age,Survived,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,22.0,0,0,1,0,0,0,1,0
1,38.0,1,1,0,0,1,0,0,0
2,26.0,1,1,0,0,0,0,1,0
3,35.0,1,1,0,0,0,0,1,0
4,35.0,0,0,1,0,0,0,1,0
5,0.0,0,0,1,0,0,1,0,0
6,54.0,0,0,1,0,0,0,1,0
7,2.0,0,0,1,0,0,0,1,0
8,27.0,1,1,0,0,0,0,1,0
9,14.0,1,1,0,0,1,0,0,0
10,4.0,1,1,0,0,0,0,1,0
11,58.0,1,1,0,0,0,0,1,0
12,20.0,0,0,1,0,0,0,1,0
13,39.0,0,0,1,0,0,0,1,0
14,14.0,0,1,0,0,0,0,1,0
15,55.0,1,1,0,0,0,0,1,0
16,2.0,0,0,1,0,0,1,0,0
17,0.0,1,0,1,0,0,0,1,0
18,31.0,0,1,0,0,0,0,1,0
19,0.0,1,1,0,0,1,0,0,0
20,35.0,0,0,1,0,0,0,1,0
21,34.0,1,0,1,0,0,0,1,0
22,15.0,1,1,0,0,0,1,0,0
23,28.0,1,0,1,0,0,0,1,0
24,8.0,0,1,0,0,0,0,1,0
25,38.0,1,1,0,0,0,0,1,0
26,0.0,0,0,1,0,1,0,0,0
27,19.0,0,0,1,0,0,0,1,0
28,0.0,1,1,0,0,0,1,0,0
29,0.0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
861,21.0,0,0,1,0,0,0,1,0
862,48.0,1,1,0,0,0,0,1,0
863,0.0,0,1,0,0,0,0,1,0
864,24.0,0,0,1,0,0,0,1,0
865,42.0,1,1,0,0,0,0,1,0
866,27.0,1,1,0,0,1,0,0,0
867,31.0,0,0,1,0,0,0,1,0
868,0.0,0,0,1,0,0,0,1,0
869,4.0,1,0,1,0,0,0,1,0
870,26.0,0,0,1,0,0,0,1,0
871,47.0,1,1,0,0,0,0,1,0
872,33.0,0,0,1,0,0,0,1,0
873,47.0,0,0,1,0,0,0,1,0
874,28.0,1,1,0,0,1,0,0,0
875,15.0,1,1,0,0,1,0,0,0
876,20.0,0,0,1,0,0,0,1,0
877,19.0,0,0,1,0,0,0,1,0
878,0.0,0,0,1,0,0,0,1,0
879,56.0,1,1,0,0,1,0,0,0
880,25.0,1,1,0,0,0,0,1,0
881,33.0,0,0,1,0,0,0,1,0
882,22.0,0,1,0,0,0,0,1,0
883,28.0,0,0,1,0,0,0,1,0
884,25.0,0,0,1,0,0,0,1,0
885,39.0,0,1,0,0,0,1,0,0
886,27.0,0,0,1,0,0,0,1,0
887,19.0,1,1,0,0,0,0,1,0
888,0.0,0,1,0,0,0,0,1,0
889,26.0,1,0,1,0,1,0,0,0
890,32.0,0,0,1,0,0,1,0,0

In [10]:
from sklearn.linear_model import LogisticRegression
dependent_variable = 'Survived'
x = df_ohe[df_ohe.columns.difference([dependent_variable])]
y = df_ohe[dependent_variable]
lr = LogisticRegression()
lr.fit(x, y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [11]:
x

,Age,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan,Sex_female,Sex_male,Sex_nan
0,22.0,0,0,1,0,0,1,0
1,38.0,1,0,0,0,1,0,0
2,26.0,0,0,1,0,1,0,0
3,35.0,0,0,1,0,1,0,0
4,35.0,0,0,1,0,0,1,0
5,0.0,0,1,0,0,0,1,0
6,54.0,0,0,1,0,0,1,0
7,2.0,0,0,1,0,0,1,0
8,27.0,0,0,1,0,1,0,0
9,14.0,1,0,0,0,1,0,0
10,4.0,0,0,1,0,1,0,0
11,58.0,0,0,1,0,1,0,0
12,20.0,0,0,1,0,0,1,0
13,39.0,0,0,1,0,0,1,0
14,14.0,0,0,1,0,1,0,0
15,55.0,0,0,1,0,1,0,0
16,2.0,0,1,0,0,0,1,0
17,0.0,0,0,1,0,0,1,0
18,31.0,0,0,1,0,1,0,0
19,0.0,1,0,0,0,1,0,0
20,35.0,0,0,1,0,0,1,0
21,34.0,0,0,1,0,0,1,0
22,15.0,0,1,0,0,1,0,0
23,28.0,0,0,1,0,0,1,0
24,8.0,0,0,1,0,1,0,0
25,38.0,0,0,1,0,1,0,0
26,0.0,1,0,0,0,0,1,0
27,19.0,0,0,1,0,0,1,0
28,0.0,0,1,0,0,1,0,0
29,0.0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...
861,21.0,0,0,1,0,0,1,0
862,48.0,0,0,1,0,1,0,0
863,0.0,0,0,1,0,1,0,0
864,24.0,0,0,1,0,0,1,0
865,42.0,0,0,1,0,1,0,0
866,27.0,1,0,0,0,1,0,0
867,31.0,0,0,1,0,0,1,0
868,0.0,0,0,1,0,0,1,0
869,4.0,0,0,1,0,0,1,0
870,26.0,0,0,1,0,0,1,0
871,47.0,0,0,1,0,1,0,0
872,33.0,0,0,1,0,0,1,0
873,47.0,0,0,1,0,0,1,0
874,28.0,1,0,0,0,1,0,0
875,15.0,1,0,0,0,1,0,0
876,20.0,0,0,1,0,0,1,0
877,19.0,0,0,1,0,0,1,0
878,0.0,0,0,1,0,0,1,0
879,56.0,1,0,0,0,1,0,0
880,25.0,0,0,1,0,1,0,0
881,33.0,0,0,1,0,0,1,0
882,22.0,0,0,1,0,1,0,0
883,28.0,0,0,1,0,0,1,0
884,25.0,0,0,1,0,0,1,0
885,39.0,0,1,0,0,1,0,0
886,27.0,0,0,1,0,0,1,0
887,19.0,0,0,1,0,1,0,0
888,0.0,0,0,1,0,1,0,0
889,26.0,1,0,0,0,0,1,0
890,32.0,0,1,0,0,0,1,0

In [12]:
y

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [37]:
data = """[
    {"Age": 85, "Sex": "male", "Embarked": "S"},
    {"Age": 24, "Sex": "female", "Embarked": "C"},
    {"Age": 3, "Sex": "male", "Embarked": "C"},
    {"Age": 21, "Sex": "male", "Embarked": "S"}
    ]"""
import json
json_ = json.loads(data)
json_

[{'Age': 85, 'Sex': 'male', 'Embarked': 'S'},
 {'Age': 24, 'Sex': 'female', 'Embarked': 'C'},
 {'Age': 3, 'Sex': 'male', 'Embarked': 'C'},
 {'Age': 21, 'Sex': 'male', 'Embarked': 'S'}]

In [32]:
query["Embarked_nan"]=0
query["Sex_nan"]=0

In [33]:
query

,Age,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Embarked_nan,Sex_nan
0,85,0,0,1,0,1,0,0
1,24,0,1,0,0,0,0,0
2,3,1,0,0,1,0,0,0
3,21,0,0,1,0,1,0,0

In [39]:
#query_df = pd.DataFrame(json_)
#query = pd.get_dummies(query_df)
prediction = lr.predict(query)
prediction

ValueError: X has 5 features per sample; expecting 8

In [27]:
query

   Age  Embarked_C  Embarked_Q  Embarked_S  Sex_female  Sex_male
0   85           0           0           1           0         1
1   24           0           1           0           0         0
2    3           1           0           0           1         0
3   21           0           0           1           0         1

In [36]:
lr.score(query, [1,0,1,1])

1.0

In [41]:
model_columns = list(x.columns)
query = pd.get_dummies(pd.DataFrame(json_))
query = query.reindex(columns=model_columns, fill_value=0)
prediction = list(lr.predict(query))
prediction

[0, 1, 0, 0]

In [ ]:
query = pd.get_dummies(pd.DataFrame(json_))
query = query.reindex(columns=model_columns, fill_value=0)

In [ ]:
import pandas as pd
import numpy as np

# Load the dataset in a dataframe object and include only four features as mentioned
url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
df = pd.read_csv(url)
include = ['Age', 'Sex', 'Embarked', 'Survived'] # Only four features
df_ = df[include]

# Data Preprocessing
categoricals = []
for col, col_type in df_.dtypes.iteritems():
     if col_type == 'O':
          categoricals.append(col)
     else:
          df_[col].fillna(0, inplace=True)

df_ohe = pd.get_dummies(df_, columns=categoricals, dummy_na=True)

# Logistic Regression classifier
from sklearn.linear_model import LogisticRegression
dependent_variable = 'Survived'
x = df_ohe[df_ohe.columns.difference([dependent_variable])]
y = df_ohe[dependent_variable]
lr = LogisticRegression()
lr.fit(x, y)

# Save your model
from sklearn.externals import joblib
joblib.dump(lr, 'model.pkl')
print("Model dumped!")

# Load the model that you just saved
lr = joblib.load('model.pkl')

# Saving the data columns from training
model_columns = list(x.columns)
joblib.dump(model_columns, 'model_columns.pkl')
print("Models columns dumped!")